.container{
    width: 100%;
    height: 100vh;
    background-image: url('/images/login-background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 640px;
    width: 100%;
    padding: 2rem;
    gap: 14px;

}

.content >a{
    background: #0063e5;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 1.2rem;
    letter-spacing: 1.5px;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 300ms ease-in-out;
}

.content >a:hover{
    background-color: #0483ee;
}

.content > p{
    text-align: center;
    font-size: 11px;
    line-height: 1.5;
    margin: 0px 10px;
    letter-spacing: 1.5px;
}

.bottomBanner{
    max-width: 576px;
    width: 100%;
}