
.slider{
    margin-top: 40px;
}

.slider > button{
    height: 100%;
    z-index: 1;
    opacity: 0;
}
.slider > button:hover{
    opacity: 1;
    transition: 200ms ease-in-out;
}

.wrapper{
    padding: 0.2rem;
}

.bannerLink{
    border-radius: 4px;
    text-decoration: none;
    box-shadow: rgba(0 0 0 / 69%) 0px 26px 30px -10px, rgba(0 0 0 / 73%) 0px 16px 10px -10px;
    display: block;
    padding: 4px;
    cursor: pointer;
}

.bannerLink:hover{
    padding: 0;
    border: 4px solid white;
    transition: 100ms ease-in-out;
}

.bannerLink > img{
    width: 100%;
}

.slider >ul > li > button::before{
    font-size: 10px;
    color: rgb(150, 158, 171);
}

li.slick-active > button::before{
    color: white !important;
}

.slick-list{
    overflow: initial !important;
}

.slick-prev{
    position: absolute;
    left: auto;
}

@media (max-width:980px){
    .slider{
        margin-top: 0;
    }
}