.MovieSection{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.MovieList{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
}

.MovieCard{
    border: 4px solid rgba(249, 249, 249, 0.3);
    border-radius: 10px;
    box-shadow: rgba(0 0 0 / 69%) 0px 26px 30px -10px, rgba(0 0 0 / 73%) 0px 16px 10px -10px;
    overflow: hidden;
    transition: 200ms ease-in-out;
    cursor: pointer;
    position: relative;
}

.MovieCard:hover{
    transform: scale(1.04);
    border-color: white;
}

.MovieCard > img{
    width: 100%;
    height: 100%;
}

@media (max-width:480px){  
    .MovieList{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin-top: -15px;
    }
}

